<app-mainheader></app-mainheader>
<div class="container-fluid">
  <div class="row tagline">
    <div class="col-md-12 col-md-offset-4">
      <h3 id="order_workstagline"> How Zomato Order works </h3>
      <p id="order_onlinetagline">Ordering food online has never been this easy </p>
    </div><!--end of col-md-12-->
  </div><!--end of row-->
  <div class="row">
      <div class="col-md-4">
        <img src="assets/img/delivery.svg">
        <p><span>Explore restaurants</span> that deliver to your doorstep</p>
      </div><!--end of col-md-4-->
      <div class="col-md-4">
        <img src="assets/img/menu.svg">
        <p>Browse menus and <span>build your order</span> in seconds</p>
      </div><!--end of col-md-4-->
      <div class="col-md-4">
        <img src="assets/img/notification.svg">
        <p> Follow the status of your order <span>with real-time alerts</span></p>
      </div><!--end of col-md-4-->
  </div><!--end of row-->
</div><!--end of container-fluid-->
<app-footer></app-footer>