<div class="container">
  <div class="row">
    <div class="col-md-12 col-md-offset-3">
      <div class="box">
       <form [formGroup]="resetPasswordForm" novalidate (submit)="resetPassword()">
          <div *ngIf="resetPasswordForm.hasError('notSame') && resetPasswordForm.controls['confirm_password'].dirty" class="alert alert-danger">
            Password Do Not Match
          </div>
          <div class="form-group">
            <label class="col-md-4">Password</label>
            <input type="password" class="form-control" name="password" formControlName="password" #password/>
          </div>
          <div *ngIf="resetPasswordForm.controls['password'].invalid && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched)" class="alert alert-danger">
            <div *ngIf="resetPasswordForm.controls['password'].errors.required">
              Password is required.
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" formControlName="confirm_password" #confirm_password/>
          </div>
          <div *ngIf="resetPasswordForm.controls['confirm_password'].invalid && (resetPasswordForm.controls['confirm_password'].dirty || resetPasswordForm.controls['confirm_password'].touched)" class="alert alert-danger">
            <div *ngIf="resetPasswordForm.controls['confirm_password'].errors.required">
              Please Retype Password
            </div>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid" class="btn btn-primary">Continue</button>
          </div>
       </form> 
      </div>
    </div>
  </div>
</div>