<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 log_tag">
        <img id="rest_logo" src="assets/img/rest.png" width="100px" height="100px">
        <h3>for business</h3>
    </div><!--end of col-md-12-->
  </div><!--end of row-->
  <div class="row">
    <div class="container topdiv">
      <div class="col-md-12">
        <img src="/assets/img/restbusiness.jpeg" width="100%" height="300px">
      </div><!--end of col-md-12-->
      <div class="col-md-12 tag_line">
        <h3>Food style for business</h3>
        <p>Get more out of your business, without losing </p>
        <p>focus on what is most important — delighting your </p>
        <p>customers</p>
      </div><!--end of col-md-12-->
    </div><!--end of container-->
  </div><!--end of row-->
  <div class="row">
    <div class="container addrestaurant">
      <h2>Cannot Find Your Restaurant?</h2>
      <p>Fill the form below to create a listing on Food Style</p>
      <button class="btn btn-danger" routerLink="/addrestaurant">Add Restaurant</button>
      <!-- <button class="btn btn-danger" routerLink="/restroadminlogin">Add Restaurant</button> -->
    </div><!--end of container-->
  </div><!--end of row-->
  <app-footer></app-footer>
</div><!--end of container-fluid-->