#rest_logo{
    margin: 10px 0 0 30px;
}
.addrestaurant{
    border:1px solid #dfdfdf;
    text-align: center;
}
.topdiv{
    border:1px solid #dfdfdf;
}
.tag_line{
    text-align: center;
}
.log_tag{
    text-align: center;
}