.box{
    margin-top:50px;
    padding:40px 40px 40px 40px;
    border: 1px solid #dfdfdf;
    max-width:600px;
}
#have_account{
    font-weight: bold;
}
#login_link{
    font-weight: bold;
}
#create{
    margin-top: 7px;
}