.uppercontainer{
    background-image: url('/assets/img/o-RESTAURANT-facebook.jpg');
}
#productbusiness{
    text-decoration: none;
    float:right;
    margin:20px 80px;
    color:red;
}
.register{
    margin-left: 20px;
}
.login{
    margin-left: 60px;
}

.logo_img{
    margin-top:25px
}
.login_register{
    margin-top:25px;
}
#order_onlinetagline{
    font-weight: bold;
}
#order_workstagline{
    margin-left: 20px;
}
.tagline{
    margin-top: 25px;
}
span{
    font-weight: bold;
}
#enter_location{
    margin-left: 150px;
    font-weight: bold;   
}
.my-2{
    margin-left: 20px;
    background: red;
    color: white
}
.header ul li{
    list-style: none;
    display: inline-block
}
.typecity_error{
    color:red;
}
.tablehead tr td{
    font-weight: bold;
}
.tablebody tr td{
    font-weight: bold;
    color:green
}
.tablebody tr td a{
    text-decoration: none;
}
.tablebody tr td a:hover{
    background-color:rgb(7, 204, 7);
}