<div class="container-fluid uppercontainer">
    <!-- <div class="header">
        <ul>
            <li><a href="#" id="order_food">Order Food</a></li>
            <li><a routerLink="/cartitem"><span class="glyphicon glyphicon-shopping-cart"></span>  Items</a><span *ngIf='itemcount'>{{itemcount}}</span></li>
        </ul>
    </div> -->
    <div class="row">
        <!-- <i class="fa fa-shopping-cart fa-5x"></i>
        <i class="fa fa-address-book" aria-hidden="true"></i> -->

        <a id="productbusiness" routerLink="/productbusiness">Products for Businesses</a>
    </div><!--end of row-->
      <!-- <div class="row">
        <div class="col-xs-3 col-xs-offset-9 log_reg">
          <button class="btn btn-success login" routerLink="/login">Login</button>
          <button class="btn btn-primary register" routerLink="/register">Create an account</button>
        </div>
      </div> -->
    <div class="row">
      <div class="col-md-12 logo_img">
        <img src="assets/img/rest.png" width="170px" height="170px" class="img-responsive center-block">
      </div><!--end of col-md-12-->
    </div><!--end of row-->
    <div class="row">
      <div class="col-md-12 col-md-offset-3" >
        <h3>Order food online from the best restaurants in Mumbai</h3>
        <p id="enter_location">Enter your delivery location to get started</p>
      </div><!--end of col-md-12-->
    </div><!--end of row-->
    <div class="row">
      <div class="col-md-12 col-md-offset-4">
        <form class="form-inline ml-auto">
          <input class="form-control mr-sm-2" type="text" [(ngModel)]="searchLocation" [ngModelOptions]="{standalone: true}" placeholder="Type Your City or Locality Here...">
          <!-- <button class="btn btn-danger my-2 my-sm-0" type="submit" routerLink="/orderfoodonline">Find Food</button> -->
          <button class="btn btn-danger my-2 my-sm-0" (click)="matchLocation(searchLocation)">Find Food</button>
        </form>
        <div class="typecity_error" *ngIf="enterSomething==true">
          Please type Your City or Locality
        </div>
        <div class="typecity_error" *ngIf="notFound_msg">
          {{ notFound_msg }}
        </div>
      </div><!--end of col-md-12-->
    </div>   
  </div><!--end of container-fluid-->
  
  <p-dialog header="Found Match" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70" 
      [maximizable]="true" [baseZIndex]="10000">
        <table class="table-bordered">
          <thead class="tablehead">
            <tr>
              <td>Restaurant Locality</td>
              <td>Restaurant Name</td>
            </tr>
          </thead>
          <tbody class="tablebody">
            <tr *ngFor="let location of matchresult">
              <td>{{ location.restaurant_locality }}</td>
              <td><a [routerLink]="['/foodlist',location.restaurant_name,location._id]">{{ location.restaurant_name }}</a></td>
            </tr>
          </tbody>  
        </table>
    <p-footer>
      <button type="button" pButton icon="pi pi-close" (click)="display=false" label="Close" class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>